*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.section-heading{
    color: #00A8EA;
}

.heading-section
{
    background-color: #00a6e4;
    height: 79vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.caption
{
    font-size: 40px;
    width: 50%;
}

.first-section
{
    background-color: #02387b;
    color: white;
    height: 18.5vh;
    font-size: 16px;
}

.second-section
{
    background-color: #F5F7FA;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-section{
    height: 60vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-section{
    height: 60vh;
    background-color: #F5F7FA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifth-section{
    height: 45.5vh;
    background-color: #fff;
}


.sixth-section{
    background-color: #00a6e4;
    height: 55.5vh;
}

.terms-section{
    height: 62vh;
    background-color: #fff;
}

.navbar
{
    height: 10vh;
}

.login-button
{
    color: #0070ba;
    background-color: white;
    border: 1px solid #0070ba;
    width: 80px;
    height: 35px;
    border-radius: 25px;
    font-size: 0.8em;
    font-weight: bold;
}

.signup-button
{
    color: white;
    background-color: #0070ba;
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 25px;
    font-size: 0.8em;
    font-weight: bold;
}

.second-section .container
{
    width: 78.4%;
    height: 81%;
    align-items: center;
}

.third-section .container
{
    width: 78.4%;
    height: 81%;
}

.fourth-section .container
{
    width: 78.4%;
    height: 81%;
}

.row{
    height: 100%;
}

.image{
    width: 60%;
    height: 98%;
}

.section-content{
    text-align: left;
}